{% extends 'base.html' %}
{% block title %}Login Page{% endblock title %}


{% block content %}

<h1>Login...</h1><br/><br/>
<div class="form-group">
    <form action="" method='Post'>
        {% csrf_token %}

           <div class="mb-3">
                <input type="text" class="form-control" name='username'  placeholder='Username' >
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" name='password' placeholder='Password' >
            </div>

        <button type='submit' class="btn btn-secondary" >Login</button>
    </form>
    Not Registered ? Signup <a href="{% url 'register' %}">Here</a>
</div>
{% endblock content %}