{% extends 'base.html' %}
{% block title %}Delete Your Post{% endblock title %}


{% block content %}
{% if user.is_authenticated %}
     {% if user.id == post.author.id %}
        <h1>Delete Post Your Blog....</h1><br/><br/>
        <h3>Delete {{post.title}} </h3>
        <div class="form-group">
            <form action="" method='Post'>
                {% csrf_token %}
            <strong>Are you want to delete this post</strong><br/>
                <button  class="btn btn-secondary" >Delete</button>
            </form>
        </div>
    {% else %}
        You should login or Signup
    {% endif %}
{% else %}
    You should login or Signup
{% endif %}
{% endblock content %}